# https://editorconfig.org/
# Added because otherwise github.com uses a default tab size of 8.

[*.{js,jsx,html,sass,scss,css,json,svg}]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
